/*
 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
 * which allow easily changing how countries are displayed.
 *
 */

/*
 * Circles around small countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.circle
{
   opacity:0;
   fill:#b9b9b9;
   fill-opacity:1;
   stroke:black;
   stroke-width:0.5;
   stroke-miterlimit:3.97446823;
   stroke-dasharray:none;
   stroke-opacity:1;
}

/*
 * Land
 */
.land
{
   fill: #b9b9b9;
   fill-opacity: 1;
   stroke:white;
   stroke-opacity: 1;
   stroke-width:0.5;
   stroke-miterlimit: 3.97446823;
   stroke-dasharray: none;
}

/*
 * Styles for coastlines of islands with no borders
 */
.coast
{
   stroke-width: 0.3;
}

/*
 * Additional style rules
 *
 * The following are examples of colouring countries.  You can substitute these with your own styles to colour the countries on the map.
 *
 * Color a few countries:
 *
 * .gb, .au, .nc
 * {
 *    fill:       #ff0000;
 * }
 *
 * Color a few small country circles (and the countries):
 *
 * .ms, .ky
 * {
 *    opacity:    1;
 *    fill:       #ff0000;
 * }
 *
 */

.jp
{
   fill:#ff0000;
}

/*
 * Antarctica
 */

.aq
{
   fill:#e6e6e6;
}

/*
 * Sea
 */

.bigocean
{
   opacity: 1;
   color: #000000;
   fill: none;
   fill-opacity:1;
   fill-rule:nonzero;
   stroke:none;
   stroke-width:0.5;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   marker:none;
   marker-start:none;
   marker-mid:none;
   marker-end:none;
   stroke-miterlimit:1;
   stroke-dasharray:none;
   stroke-dashoffset:0;
   stroke-opacity:1;
   visibility:visible;
   display:inline;
   overflow:visible;
}

.ocean
{
   opacity: 1;
   color: #000000;
   fill:white;
   fill-opacity:1;
   fill-rule:nonzero;
   stroke:#000000;
   stroke-width:0.5;
   stroke-linecap:butt;
   stroke-linejoin:miter;
   marker:none;
   marker-start:none;
   marker-mid:none;
   marker-end:none;
   stroke-miterlimit:1;
   stroke-dasharray:none;
   stroke-dashoffset:0;
   stroke-opacity:1;
   visibility:visible;
   display:inline;
   overflow:visible;
}

.lake
{
   fill:white;
   fill-opacity:1;
   stroke:white;
   stroke-opacity: 1;
   stroke-width:0.3;
   stroke-miterlimit: 3.97446823;
   stroke-dasharray: none;
}
