<table width="100%">
  <tr>
    <td width="33%">
      <% if current_user %>
        <%= render "tweet_list" -%>
        <div id="tweetThanksBox">
          <div id="dear"></div>
          <%= text_area_tag 'tweet_content', nil, :size => "37" -%>
        </div>
      <% else %>
        <%= link_to "tweet to the world", "/auth/twitter" %>
      <% end %>
    </td>
    <td width="34%" align="center" valign="middle">
      <h2>Thank you, World.</h2>
      <small>#prayforjapan #tsunami</small>
    </td>
    <td width="33%">
    </td>
  </tr>
</table>
